# Everything without extension (binaries), except some cases
*                                                                                           │
!*.*                                                                                        │
!*/                                                                                         │
!Makefile                                                                                   │
!Dockerfile 
!LICENSE

# Go codegen
*.gen.go
*.pb.go
.generators_cache

# Sensitive files
*.env

# Logs
*.log